/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: var(--baseFont);
  font: var(--baseFont);
  font-size: var(--baseFontSize);
}

strong {
  color: white;
  font-size: 1.2rem;
}
:root {
  --baseFont: 'Open Sans', sans-serif;
  --baseFontSize: 2rem;
}

body {
  position: relative;
  background: black;
  color: white;
  font-size: 1rem;
}

.logo-img {
  margin: 1rem;
  width: 170px;
}

.container {
  min-width: 100vw;
  height: 150vh;
}

.movie {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
}
.compare {
  padding-top: 3rem;
}
.movie .col {
  text-align: center;
  margin: 0 1%;
}

.search-dropdown-main {
  width: 22rem;
}
.dropdown-content {
  width: 22rem;
  max-height: 25em;
  overflow: auto;
}

.row {
  margin: 0;
}

.movie-details {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .movie-details {
    /* gap: 10%; */
    grid-template-columns: repeat(2, 50%);
  }
  .movie {
    grid-template-columns: repeat(2, 50%);
  }
}

.column1 {
  background: white;
}

.poster-and-briefs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.poster {
  padding: 1rem;
}
.awards,
.metascore,
.imdbRating,
.imdbRating,
.box-office {
  text-align: right;
}
