/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: var(--baseFont);
  font: var(--baseFont);
  font-size: var(--baseFontSize);
}

strong {
  color: white;
  font-size: 1.3rem;
}
a {
  color: black;
}
a:hover {
  color: #204051;
}
a:active {
  color: #1eb2a6;
}

:root {
  --baseFont: 'Open Sans', sans-serif;
  --baseFontSize: 2rem;
}

body {
  position: relative;
  background: black;
  color: white;
  font-size: 1rem;
}

.logo-img {
  margin: 1rem;
  width: 170px;
}

.container {
  min-width: 100vw;
  height: 150vh;
}

.movie {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
}
.compare {
  padding-top: 3rem;
}
.movie .col {
  text-align: center;
  margin: 0 1%;
}

.search-dropdown-main {
  width: 22rem;
}
.dropdown-content {
  width: 25em;
  max-height: 25em;
  padding: 1rem;
  overflow: auto;
  text-decoration: none;
  background-color: #faf4f4;
}

.row {
  margin: 0;
}

.movie-details {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .movie-details {
    /* gap: 10%; */
    grid-template-columns: repeat(2, 50%);
  }
  .movie {
    grid-template-columns: repeat(2, 50%);
  }
}

.column-1 {
  margin-left: 0.8rem;
}

.poster-and-briefs {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  height: 25rem;
}
.briefs {
  text-align: right;
}
.poster-and-briefs1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  height: 25rem;
}
.poster,
.poster1 {
  padding: 10px;
}
/* Column0 */
.awards,
.metascore,
.imdbRating,
.imdbVotes,
.box-office {
  text-align: right;
  padding: 10px;
  /* height: 5rem; */
  margin: 0.5rem;
  background-color: #f76a8c;
  color: black;
}
/* Column 1 */
.rightSide div {
  text-align: left;
}

/* Change Background Based on Statistics */
.green {
  background-color: #1eb2a6;
}
